
<h3>Hero Birthday</h3>
<hero-birthday></hero-birthday>

<hr>

<h3>Birthday DatePipe</h3>

<p>The hero's birthday is {{ birthday | date }}</p>
<p>The hero's birthday is {{ birthday | date:"MM/dd/yy" }} </p>

<hr>

<h3>Hero Birthday 2</h3>
<hero-birthday2></hero-birthday2>

<hr>

<h3>Birthday Pipe Chaining</h3>
<p>
  The chained hero's birthday is {{ birthday | date | uppercase}}
</p>

<p>
  The chained hero's birthday is {{  birthday | date:'fullDate' | uppercase}}
</p>

<hr>
<power-booster></power-booster>

<hr>
<power-boost-calculator>loading</power-boost-calculator>



<hr>